<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="max-width: 500px;
                margin: auto;
                background-color: #eee;
                padding: 30px 50px;">

      <h1 style="text-align: center;margin-bottom: 40px;">
        Timeline has shared with you!
      </h1>
      <p>
        <%= @user.name %> has shared his Timeline: <%= @timeline.name %> with you.
      </p>

      <% if @registered == true %>
        <p>
          Visit the shared timeline 
          <%= link_to 'here', timeline_path(@timeline), :host => "#{ENV['HOST']}", :only_path => false %>
        </p>
      <% else %>
        <p>
          Visit the shared timeline 
          <%= link_to 'here', new_user_registration_path %>
        </p>
      <% end %>

      <p style="text-align: center;margin-top: 40px;">
        If you don't have account, join us <%= link_to 'here', new_user_registration_path %>
        <br>
        Thanks for joining and have a great day!
      </p>
    </div>

  </body>
</html>
