<div class="cd-timeline-block">
  <div class="cd-timeline-img cd-picture">

  </div>

  <div class="cd-timeline-content">
    <h2><%= event.title %></h2>
    <p class="event-desc" style="display: none;"><%= event.description %></p>
    <p class="event-desc-short"><%=h truncate(event.description, :length => 200) %></p>

    <a href="javascript:void(0)" class="cd-read-more">Read More</a>
    <button type="button" class="cd-read-less btn btn-primary" style="display: none;">Brief View</button>

    <span class="cd-date"><%= event.duedate.strftime("%b %d, %Y") %></span>

    <% if is_owner?(current_user, @timeline) %>
      <div class="action-group">
        <%= link_to edit_timeline_event_path(event.timeline, event) do %>
          <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
        <%= link_to [event.timeline, event], method: :delete,
                 data: { confirm: 'Are you sure?' } do %>
          <span class="glyphicon glyphicon-remove"></span>
        <% end %>
      </div>
    <% end %>

  </div>

</div>
