<div class="cd-timeline-block">
  <div class="cd-timeline-img cd-picture">

  </div>

  <div class="cd-timeline-content">
    <h2><%= event.title %></h2>
    <p><%= event.description %></p>
    <%= link_to 'Read More', timeline_event_path(event.timeline, event), :class => "cd-read-more" %>
    <span class="cd-date"><%= event.duedate.strftime("%b %d") %></span>
    <span class="close">
      <%= link_to '', [event.timeline, event],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
    </span>
  </div>

</div>
