<%= form_for([@timeline, @timeline.events.build]) do |f| %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, :class => 'form-control', :required => true %>
  </div>

  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <label>Due Date</label>
    <div class='input-group date' id='duedatePicker'>
        <input type='text' class="form-control" name="event[duedate]" id="event_duedate" type="datetime" required />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
  </div>

  <script type="text/javascript">
      $(function () {
          $('#duedatePicker').datetimepicker({
            format: 'MMM DD, YYYY'
          });
          $('#duedatePicker').keypress(function(event) {
            event.preventDefault();
            return false;
          });
      });
  </script>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
