<section class="normal-form">
  <div class="container">
    <div class="normal-form__wrapper">
      <h3>
        <span class="glyphicon glyphicon-pencil"></span>
        Edit Event
      </h3>
      <%= form_for([@timeline, @event]) do |f| %>

        <div class="form-group">
          <%= f.label :title %><br>
          <%= f.text_field :title, :class => 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :description %><br>
          <%= f.text_area :description, :class => 'form-control' %>
        </div>

        <div class="form-group">
          <label>Due Date</label>
          <div class='input-group date' id='duedatePicker'>
              <input type='text' class="form-control" name="event[duedate]" id="event_duedate" type="datetime" required />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
          </div>
        </div>

        <script type="text/javascript">
            $(function () {
                $('#duedatePicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm A'
                });
            });
        </script>

        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>

      <%=link_to timeline_path(@timeline) do %>
        <span class="glyphicon glyphicon-menu-left"></span>&nbsp;Back
      <% end %>

    </div>
  </div>
</section>
