<%= form_for(@timeline) do |f| %>
  <% if @timeline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@timeline.errors.count, "error") %> prohibited this timeline from being saved:</h2>

      <ul>
      <% @timeline.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class => 'form-control', :required => 'true' %>
  </div>

  <% if current_page?(new_timeline_path) %>
    <%= f.hidden_field :timeline_status_id, :value => 1 %>
  <% else %>
    <div class="form-group">
      <%= f.label 'Status' %><br>
      <%= f.collection_select(:timeline_status_id, TimelineStatus.all, :id, :name) %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
