<p id="notice"><%= notice %></p>

<section>
  <div class="group-wrapper">
    <h2>Listing Timelines</h2>

    <table class="table table-responsive">
      <thead>
        <tr>
          <th>Name</th>
          <th>Show</th>
          <th>Edit</th>
          <th>Share</th>
          <th>Delete</th>
        </tr>
      </thead>

      <tbody>
        <% @timelines.each do |timeline| %>
          <tr>
            <td class="timeline-name">
              <h5>
                <%= link_to timeline do %>
                  <%= timeline.name %>
                <% end %>
              </h5>
            </td>
            <td>
              <%= link_to timeline do %>
                <span class="glyphicon glyphicon-eye-open"></span>
              <% end %>
            </td>
            <td>
              <%= link_to edit_timeline_path(timeline) do %>
                <span class="glyphicon glyphicon-pencil"></span>
              <% end %>
            </td>
            <td>
              <%= link_to timeline_shared_timelines_path(timeline) do %>
                <span class="glyphicon glyphicon-share"></span>
              <% end %>
            </td>
            <td>
              <%= link_to timeline, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <span class="glyphicon glyphicon-trash"></span>
              <% end %>
            </td>
          </tr>
        <% end %>

        <% @shared_timelines.each do |timeline| %>
          <tr>
            <td class="timeline-name">
              <h5>
                <%= link_to timeline do %>
                  <%= timeline.name %>
                <% end %>
              </h5>
            </td>
            <td>
              <%= link_to timeline do %>
                <span class="glyphicon glyphicon-eye-open"></span>
              <% end %>
            </td>
            <td>_</td>
            <td>_</td>
            <td>_</td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    <div class="add-timeline">
      <%= link_to new_timeline_path do %>
        <span class="glyphicon glyphicon-plus"></span>
        Add TimeLine
      <% end %>
    </div>
  </div>
</section>
